body {
    background: black;
    display: flex;
    justify-content: center;
}
.post {
    background: white;
    width: 400px;
    height: 570px;
}
#content1 {
    margin: 0px;
    display: flex;
}
.grupo1 {
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Noto Sans Mono', monospace;
    margin-right: 5px;
}
.subgrupo1 {
    margin-left: 1px;
    float: right;
}
.fa-brands {
    margin-top: 11px;
    margin-right: 5px;
    margin-left: 20px;
    font-size: 30px;
    align-self: center;
}
h2, h1 {
    display: block;
    margin: 0;
}
h2 {
    font-size: 14px;
    margin-top: 7px;
}
h1 {
    font-size: 13px;
    margin: 0;
}
p {
    font-size: 15px;
    margin-top: 0px;
    margin-left: 5px;
}
.fa-solid {
    font-size: 25px;
    margin-left: 240px;
}
.grupo2 {
    margin: 10px;
    display: flex;
    align-self: center;
}
#content2 {
    display: flex;
    justify-content: center;
}
img {
    margin: 5px;
    overflow: hidden;
}
#icons {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
#clouse {
    font-size: 28px;
    order: 0;
    align-self: flex-start;
}
#away {
    order: 2;
    font-size: 28px;
    align-self: flex-end;
    margin-right: 6px;
}
#content4 {
    margin-left: 7px;
    margin-right: 13px;
}
p {
    text-align: justify;
}